
/* INDEX.HTML */
body {
  color: #40514E;
  background-color: #FFFDFA;
  margin: 0;
  padding: 0px;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Lato', sans-serif;

  /* IDK IF THIS WILL WORK 
  display: flex;
  flex-direction: column;
  min-height: 100vh;
   END TRIAL STUFF */

}

html {
  scroll-behavior: smooth;
}


/* START NAV */

nav {
  display: flex;
  /* CHANGED JUSTIFY-CONTENT FROM SPACE-AROUND TO SPACE-BETWEEN TO GET RID OF SPACES ON LEFT AND RIGHT */
  /*CHANGED BACK TO SPACE BETWEEN BC TOO MUCH SPACE ON ENDS */
  justify-content: space-between;
  align-items: center;  
  min-height: 8vh; 
 background-color: #FFFDFA; 
  font-family: 'Lato', sans-serif;
  z-index: 100;
  position: relative;

}

.darkmode-nav {
  background-color: #10104E;
}

.darkmode-nav li a{
  color: #ACACE6;
}

/* LOGO FOR CSSA TEXT NOT IMG ->  
.logo {
  color: #414194;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
} 
*/ 

/* THIS WAS FOR BEFORE MAKING LOGO LINK
.logo-img {
  width: 15%;
  height: 15%;
  margin-left: 3%;

}
*/
.logo-img {
  /*width: 34%;*/
  padding-right: 0;
  height: auto;
  width: 70%;
  /*display: inline-block;*/


  /*display: block;*/
  margin-top: 3%;


}


.logo-link {
  /*margin-right: 40%; */
  /*height: auto;
  width: 20%;*/


}

.logo-index {

padding-right: 10%;
width: 22%;
 list-style: none;
margin-top: 0.4em;




}




.nav-links {
  /* USED THIS TO MAKE LINKS MORE IN FROM RIGHT */
  /* margin-right: 12%;  CHANGED RECENT */
  margin-right: 11%;
  padding-right: 4%;
  display: flex;
  justify-content: space-around;
  width: 30%;

  margin-top: 2%;
}

.nav-links li{
  list-style: none;

  /* UNDERLINE EDIT */
  position: relative;
}

.nav-links a{
  /*color: #414194;*/
  
  /*color: #9FA8FF;*/
  color: #414194;

  /* color: #ACACE6; */
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  /*font-size: 14px;*/
  
  /*font-size: 0.9rem;*/
  font-size: 16px;
}


/* NAV UNDERLINE */

.nav-links a:hover {
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  text-decoration: underline;
}

.nav-links a:hover:after {
  width: 100%;
}


/* NAV UNDERLINE END */

.burger {
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: #ACACE6;
  margin: 5px;
  transition: all 0.4s ease;

} 

/* max width previously at 1180px */

@media screen and (max-width: 1250px){

  h1 {
    font-size: 4rem!important;
  }

  h2 {
    font-size: 2.6rem!important;
  }

  .nav-links {
  width: 50%;
  margin-right: 6%;
  padding-right: 6%;
  }

  .nav-links a {
    font-size: 14px;
  }

  .logo-img {
    height: auto;
    width: 70%;
    /*padding-left: 20%*/
    padding-left: 18%;
    margin-top: 1%;
  }

  .learn-more .btn {
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   font-size: 16px;
   font-weight: 100;
   padding: 6px 12px;
   border: solid #414194 1px;
}

  

}

@media screen and (max-width: 900px){
  body,html {
    overflow-x: hidden;
  } 

  .nav-links {
  margin-right: 0px;
  margin-top: 0px;
  padding-left: 0px;
  position: absolute;
  right: 0px;
  /*height: 92vh;*/
  height: 70vh;
  top: 8vh;
  background-color: #FFFDFA;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  transform: translateX(100%);
  transition: transform 0.4s ease-in;
  }
  .nav-links li{
    opacity: 0;
  }
  .burger {
    display: block;
    padding-right: 20px;
  }

  .logo-img {
    width: 90%;
    height: 90%;
    padding-left: 0px;
  }

  h2 {
    font-size: 1.8em!important;
  }

  h3 {
    font-size: 1.2em;
  }

  /* INDEX STUFF */

  #particles-js {
  padding-top: 2%;
  padding-bottom: 2%;
}

  canvas.particles-js-canvas-el {
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .particles-title {
    font-size: 1.4em;
    
  }

  .particles-subtitle {
    font-size: 1em;
  }

  .middle-links-txt {
    font-size: 0.86em;
  }

  img.middle-links-img {
    height: 120px;
    width: 130px;
  }

  .learn-more .btn {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   font-size: 12px;
   font-weight: 100;
   padding: 5px 10px;
   border: solid #414194 1px;
}



#title {
  font-size: 3.8em;

}

/* RESOURCE STUFF */

.resource-nav .resource-links a{
  letter-spacing: 3px;
  font-size: 12px;
}


div.tipslist {
  /* width: 60%; */
  padding-left: 4%;
  padding-right: 4%;


}

div.tip {
  position: relative;
  margin: 5px 10px;

}

/* CONFERENCE STUFF */

.conf-link {
  padding-bottom: 10%;
}

.placeholder .conference-banner {
  height: 32vh;
  width: 80%;

}

/* FOOTER STUFF */

.footer-link {
  font-size: 0.92em;
}

p.copyright {
  font-size: 0.74em;
}

p.ocfterms {
  font-size: 0.6em;
  padding-top: 3em;

}

img.ocf-tag {
  height: auto;
  width: 14%;
  padding: 16px 0;
  float: left;
  margin-left: 20px;

}

/* PEOPLE STUFF */

.people-title {
  font-size: 0.8em;

}

.people-img .ppl-img {
  height: 84px;
  width: 84px;
}

/* INVOLVEMENT STUFF */

.get-involved h3 {
  font-size: 1em;
}

/* EVENT (and resource link) STUFF */

.resource-links {
  /*margin-right: 0px;
  margin-top: 0px;
  padding-left: 0px;
  right: 0px; */
  /*height: 92vh;*/
  height: 50vh;
  top: 8vh;
  display: flex; 
  flex-direction: column;
  align-items: center;
  /*width: 35%; 
  transform: translateX(0%); */

}

.resource-links a {
  font-size: 1em!important;
}

/* this counts as events box resize */
.google-calendar {
  height: 100%;
  width: 70%;
}

iframe.google-calendar-actual {
  height: 360px;
  width: 380px;
}



/* INDEX BOX RESIZE */

div.contact-us {
  height: 100%;
  width: 100%;
}
div.contact-img {
  height: 260px;
  width: 260px;
}

div.index-links {
  height: 100%;
  width: 100%;
}

/* ABOUT BOX RESIZE */

div.about-cssa1 {
  height: 100%;
  width: 90%;
  margin-bottom: 4%;
}
div.about-cssa2 {
  height: 100%;
  width: 90%;
  margin-bottom: 2%;
}

/* INVOLVEMENT BOX RESIZE */

div.general-meetings {
  height: 100%;
  width: 80%;
}
div.internal-meetings {
  height: 100%;
  width: 80%;
}

/* EVENTS BOX RESIZE */

div.events-img {
  height: 100%;
  width: 70%;
}

div.events-blurb {
  height: 100%;
  width: 70%;
}

/* RESOURCES BOX RESIZE */

div.resource-list-left {
  height: 100%;
  width: 80%;
}
div.resource-list-right {
  height: 100%;
  width: 80%;
}

div.faculty-map {
  height: 100%;
  width: 80%;
}
div.navigating-map {
  height: 100%;
  width: 80%;
}

div.credit-map {
  height: 100%;
  width: 80%;
}

div.department-links {
  height: 100%;
  width: 80%;
}

div.honors-thesis-blurb {
  height: 100%;
  width: 80%;
}

div.honors-thesis-tips {
  height: 100%;
  width: 80%;
}


}

/* END MOBILE */

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggley .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggley .line2{
  opacity: 0;
}
.toggley .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}

/* END NAV */


h1 {
  /*font-size: 5.625rem;*/
  
  /*font-size: 5rem;*/

  /*margin: 50px auto 0 auto;*/
  margin-top: 1%;
  
  /* font-family: 'Rosario', sans-serif; */
  font-size: 4.56rem;
  font-weight: 600;

  font-family: 'Josefin Sans', sans-serif;
  color: #ACACE6;
  margin-bottom: 0!important;
}

h2 {
  font-weight: normal;
  /*font-size: 2.5rem;*/
  font-size: 2.5em;
  /*font-size: 2.5vw;*/
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  color: #414194;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
  color: #414194;
}

a {
  color: #667BEB;
  font-family: 'Josefin Sans', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #0029FF;
}

p {
  line-height: 2;
  color: #6C6C83;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;

}

/* hr {
  border: dotted #ffa5a5 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}*/



.top-container {
  background-color: #414194;
  /*position: relative;*/
  padding-top: 100px;
  padding-bottom: 100px;

}



#particles-js {
  /*position: relative;*/
  /*width: 100%;
  height: 100%;*/
  height: 100%;

  background-color: #10104E;

  /*background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;*/
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.particle-title-container {
  position: absolute;

}


.particles-title {
  color: white;
  font-family: Rosario, 'sans-serif';
  font-size: 3em;
  letter-spacing: 6px;
  

}

.particles-subtitle {
  color: white;
  font-size: 1.4em;

} 

.middle-container {
  margin: 100px 0;
}

.container {
  position: relative;
  min-height: 100vh;
  background-color: #ECF1F5;
}

.wrap {
  /*padding-bottom: 4%;*/
  padding-bottom: 2%;
}

.bottom-container {
  /*position: absolute;
  bottom: 0;
  width: 100%; */
  /* height: 100px; COULD JUST ADJUST FOR MOBILE; COVERS DIV ABOVE WHEN USE AUTO*/
 /* height: auto;
  background-color: #171756;
  padding-top: 40px; */

  /* NEW STUFF TRIAL */
  /*background-color: #171756;*/
  background-color: #10104E;
  height: auto;
  padding-top: 4%;
  padding-bottom: 2%;


}

.footer-links {
  position: relative;
}

.footer-link {
  color: #ACACE6;
}

.footer-line {
  width: 95%;
  height: 2px;
  background-color: #ACACE6;
  margin-right: auto;
  margin-left: auto;
  border: none;
  margin-bottom: 40px;
  position: relative;
}


.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #414194;
  font-size: 0.75rem;
  padding: 20px 0;
  float: right;
  margin-right: 30px;
}

.ocf-tag {
  color: #414194;
  font-size: 0.75rem;
  padding: 20px 0;
  float: left;
  margin-left: 30px;
}

.ocfterms {
  font-size: 0.75rem;
  margin-bottom: 0;
  padding-top: 1%;
  color: #414194;
}

.btn {
   background: #414194;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   color: #BBBBDD;
   font-family: 'Lato', sans-serif;
   font-size: 20px;
   font-weight: 100;
   padding: 10px 20px;
   border: solid #414194 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   /*border: solid #ACACE6 1px;*/
   background: #4848C1;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   text-decoration: none;
   color: #FFFFFF;
}

/* INDEX.HTML */

.indexbtn {
  color: #8B8BD0;
  cursor: pointer;
  width: 50%; 
  outline: 3px solid;
  outline-color: #8B8BD0;
  outline-offset: 10px;
  transition: all 100ms cubic-bezier(0.2, 0, 0, 0.8);
  font-size: 1.2em;
}

.indexbtn:hover {
  color: white;
  outline-color: white;
  outline-offset: 14px;
}

.middle-container-index1 {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
}


/* 
.middle-container-index2 {
  columns: 2;
  background-color: #DDDDFA;
  padding: 50px 0;
}
*/



.middle-links {
  /*columns: 3;
  padding-top: 5%;
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 5%; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

.middle-link1 {
  position: relative; 
}
.middle-link2 {
   position: relative; 
 
}
.middle-link3 {
  position: relative; 
 
}

.middle-link-column {
  height: 100%;
  width: 28%;
}

.middle-links-img {
  width: 90%;
  height: auto;
  /*height: 90%;*/
  opacity: 0.3;
  position: relative;
}

.middle-links-img-tst {
  width: 90%;
  height: auto;
  /*height: 90%;*/
  opacity: 1;
  position: relative;
}

.middle-links-img-tst:hover {
  width: 90%;
  height: auto;
  /*height: 90%;*/
  opacity: 0.5;
  position: relative;
}

.middle-links-txt {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.middle-links-txt-tst {
  position: absolute;
  /*top: 45%;*/
  left: 50%;
  /*text-decoration: underline;*/
  transform: translate(-50%, -50%);
  margin-top: 6%;
  color: #2D2D72;
}

.middle-links-txt2-tst {
  /*position: absolute;*/
  margin-top: 10%;
  /*text-decoration: underline;*/
  /*transform: translate(-50%, -50%);*/
  /*color: #BBBBDD;*/
  color: #6C6C83;
}

.middle-container-index2 {
  padding-top: 2%;
  padding-bottom: 2%;
  /*background-color: #DDDDFA;*/
 
}

/* 
.contact-txt {
  padding-left: 10%;
} */

.contact-us {
 display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  margin-right: 4%;
  margin-left: 4%;

}

.contact-us-head {
  height: 100%;
  width: 40%;
}

.contact-head {
  font-size: 5.4em!important;
}

.contact-emails {
  font-size: 3em;
  color: black;
}

.contact-emails-contain {
  width: 40%;
  height: 100%;

}

.contact-img {
  /* padding-top: 5%;
  padding-bottom: 10%;
  padding-right: 10%; */
  height: 100%;
  width: 20%;
  padding-top: 4%;
}

.contactlogo-img {
  width: 80%;
  height: 80%;
}




.index-zoomlink {
  text-decoration: underline;
  color: white;
  margin: 0;
}

.logo-brain-img {
  height: 60px;
  width: 60px;
  padding-top: 15%;
}

.middle-container-index3 {
  padding-bottom: 6%;
  position: relative;

 
}

.links-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

.index-links {
  height: 100%;
  width: 40%;
  padding-top: 2%;
  padding-bottom: 2%;
  line-height: 40px;
}

.links-container-img {
  height: 100%;
  width: 20%;
}

/* ABOUT.HTML */

#about-wrap {
  padding-bottom: 0px;
}

.page-top {
  /*background-color: #2D2D72;*/
  margin-top: 4%;
  background-color: #ECF1F5;
  margin-bottom: 1%;
}

.page-top-title {
  transition: 0.5s ease; /*????????????????*/


}

.about-info-top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  /*padding-bottom: 2%;*/
  /*margin-top: 4%;*/
  margin-right: 4%;
  margin-left: 4%;
}

.about-cssa1 {
  height: 100%;
  width: 40%;
  /*background-color: #EDF4F3;*/
  /*padding: 1% 2%;*/

}

.about-cssa2 {
  height: 100%;
  width: 40%;  
  /*background-color: #EDF4F3;*/
  /*padding: 1% 2%;*/
}

.what-is-cogsci {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;

}

.cogsci-blurb {

  width: 20%;  

}

.cogsci-blurb-img {
  
  width: 20%;  

}

.aboutcogsci-img {
  height: 14%;
  width: 14%;
}

.zoom-banner {
  height: 100%;
  width: 84%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.middle-container-about {
  /*background-color: #E3F2FF;*/
  padding-top: 0;
  padding-bottom: 4%;
  margin: 4% 6%;
}

.what-is-cogsci {
  display: flex;
  
  justify-content: space-around;
  flex-flow: wrap;

}

.cogsci-blurb {
  height: 100%;
  width: 100%;
  margin-right: 8%;
  margin-left: 8%;
}

.cogsci-blurb-img {
  height: 100%;
  width: 100%;
}

/*ABOUT BLURBS AT BOTTOM */
.what-is-links a:hover {
  text-decoration: underline;

}
#alink {
  cursor: pointer;
  font-size: 1.4em;
  color: #414194;
}
#alink2 {
  cursor: pointer;
  font-size: 1.4em;
  color: #414194;
}
#alink3 {
  cursor: pointer;
  font-size: 1.4em;
  color: #414194;
}
#alink4 {
  cursor: pointer;
  font-size: 1.4em;
  color: #414194;
}
#alink5 {
  cursor: pointer;
  font-size: 1.4em;
  color: #414194;
}
#alink6 {
  cursor: pointer;
  font-size: 1.4em;
  color: #414194;
}

.ashowcome {
  margin-left: 10%;
  margin-right: 10%;
  transition: 1s ease;
}


#ashow2 {
  margin-left: 10%;
  margin-right: 10%;
}
#ashow3 {
  margin-left: 10%;
  margin-right: 10%;
}
#ashow4 {
  margin-left: 10%;
  margin-right: 10%;
}
#ashow5 {
  margin-left: 10%;
  margin-right: 10%;
}
#ashow6 {
  margin-left: 10%;
  margin-right: 10%;
}



/* INVOLVEMENT.HTML */

.involvesq {
  width: 80%;
  height: auto;
}

.involve-sq1 {
  height: 200px;
  width: 200px;
  background: url(../images/involve_imgs/invsq1.png) no-repeat;
  background-size: 200px;
  display: inline-block;
}

.involve-sq1:hover {
  background: url(../images/involve_imgs/invsqa.png) no-repeat;
  background-size: 200px;
  transition: 0.5s ease;
}
.involve-sq2 {
  height: 200px;
  width: 200px;
  background: url(../images/involve_imgs/invsq2.png) no-repeat;
  background-size: 200px;
  display: inline-block;
}

.involve-sq2:hover {
  background: url(../images/involve_imgs/invsqb.png) no-repeat;
  background-size: 200px;
  transition: 0.5s ease;
}
.involve-sq3 {
  height: 200px;
  width: 200px;
  background: url(../images/involve_imgs/invsq3.png) no-repeat;
  background-size: 200px;
  display: inline-block;
}

.involve-sq3:hover {
  background: url(../images/involve_imgs/invsqc.png) no-repeat;
  background-size: 200px;
  transition: 0.5s ease;
}
.involve-sq4 {
  height: 200px;
  width: 200px;
  background: url(../images/involve_imgs/invsq4.png) no-repeat;
  background-size: 200px;
  display: inline-block;
}

.involve-sq4:hover {
  background: url(../images/involve_imgs/invsqd.png) no-repeat;
  background-size: 200px;
  transition: 0.5s ease;
}

.involve-sqs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

.involvesqimg {
  /*display: block;*/
  width: 50%;
  display: block;
  /*height: auto;
  margin-left: 2%;*/
}

.involvesqimgO {
  /*position: absolute;*/
  text-align: center;
  padding-right: 1em;
  padding-left: 1em;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
 
}

.involvesq-contain {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: 0.4s ease;
}

.involvesq-contain:hover .involvesqimgO {
  opacity: 0.95;
}

.involve-page-top {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #E7F2FC;
}

.involve-signup {
  color: #414194;
}

.involve-info-container {
  padding-bottom: 4%;
}

.get-involved {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  margin-top: 2%;

}

.how-get-involved {
  height: 100%;
  width: 20%;
  
}

.join-outreach {
  height: 100%;
  width: 20%;

}

.help-conference {
  height: 100%;
  width: 20%;

}

.join-mailing {
  height: 100%;
  width: 20%;

}

.involve-meeting-container {
   /*background-color: #DDDDFA;*/
   padding-top: 2%;
   padding-bottom: 6%;
}

.meetings-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

.general-meetings {
  height: 100%;
  width: 40%;

}

.internal-meetings {
  height: 100%;
  width: 40%;
}


.alumni-blurb {
  padding-right: 8%;
  padding-left: 8%;
}

.alumni-map {
  padding-bottom: 4%;
}



/* EVENTS.HTML */

/*.mlinkcome {
  cursor: pointer;
  font-size: 1.4em;
  color: #414194;
}*/

/*HOVER STUFF NOT WORKING */
.eventlinks a:hover {
  text-decoration: underline;

}
#mlink {
  cursor: pointer;
  font-size: 1.4em;
  color: #414194;
}
#mlink2 {
  cursor: pointer;
  font-size: 1.4em;
  color: #414194;
}
#mlink3 {
  cursor: pointer;
  font-size: 1.4em;
  color: #414194;
}
#mlink4 {
  cursor: pointer;
  font-size: 1.4em;
  color: #414194;
}

.mshowcome {
  margin-left: 10%;
  margin-right: 10%;
  transition: 1s ease;
}


#mshow2 {
  margin-left: 10%;
  margin-right: 10%;
}
#mshow3 {
  margin-left: 10%;
  margin-right: 10%;
}
#mshow4 {
  margin-left: 10%;
  margin-right: 10%;
}



.first-event-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  margin-left: 10%;
  margin-right: 10%;

}


.first-event-blurb {
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 4%;
  padding-bottom: 4%;
  background-color: #DDDDFA;
  margin-right: 8%;
  margin-left: 8%;
}


.upcoming-events {
  height: 100%;
  width: 100%;
}

.exampleupcomingimg {
  height: 70%;
  width: 70%;
}

.upcoming-events-contain {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;


}

.upcoming-events-img {
  height: 100%;
  width: 50%;
}

.upcoming-events-blurb {
  height: 100%;
  width: 50%;
  margin-top: 8%;
}

.google-calendar {
  height: 100%;
  width: 100%;

}

.google-calendar-actual {
  height: 500px;
  width: 600px;
}

.events-up {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

.event-1 {
  height: 100%;
  width: 100%;
}

.event-square-img {
  height: 200px;
  width: auto;
}
.event-2 {
  height: 100%;
  width: 50%;
}

.events-prev {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;

}
.pevent-square1 {
  
}
.pevent-square2 {
 
}

.preveventcontain {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-around;
   margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}

.prevevent {
  width: 50%;
  height: 100%;

}
.prevevent2 {
  width: 50%;
  height: 100%;
  /*margin-right: 10%;*/
}

.preveventimg {
  height: 60%;
  width: 60%;
}

.events-column {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  padding-bottom: 2%;
}

.events-blurb {
height: 100%;
width: 50%;
}

.events-img {
  height: 100%;
  width: 30%;

}

.events-trial-img {
  height: 100%;
  width: 100%;
}

.weekly-meetings {
  padding-top: 2%;
  background-color: #EDF4F3;
}

.outreach-program {
  padding-top: 2%;
  background-color: #D2E5E2;
}

.academic-events {
  padding-top: 2%;
  background-color: #EDF4F3;
}

.social-events {
  padding-top: 2%;
  background-color: #D2E5E2;
}

/* RESOURCES.HTML */

.resource-nav {
  /*background-color: #D2E5E2; */
  background-color: #DDDDFA;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 14px;

}

.resource-links {
  display: flex;
  justify-content: space-around;
  padding-left: 0;

}

.resource-links li {
  list-style: none;
}

.resource-links a{
  color: #414194;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}
.resource-links a:hover{
  color: #5E7C77;
}


.resource-title {
  font-size: 1.6em;
  color: #8484FF;
}

.resource-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

.resource-list-left {
  height: 100%;
  width: 40%;
}

.resource-list-right {
  height: 100%;
  width: 40%;
}

.resource-list-title {
  font-size: 1.2em;
  /*color: #5A5AAD;*/
  color: #8484FF;
}

.resource-list-blurb {
  color: #BBBBDD;
}

.tipslist {
  /* width: 60%; */
  padding-left: 20%;
  padding-right: 20%;


}

.tip {
  position: relative;
  margin: 10px 20px;

}

.tip-label {
  position: relative;
  padding: 10px;
  /*background: #DDDDFA;*/
  background: #9FA8FF;
  color: #414194;
  cursor: pointer;
}

.tip .tip-label::before {
  content: '+';
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 1.5em;
}

.tip.active .tip-label::before {
  content: '-';
}


.tip .tip-blurb {
  position: relative;
  padding: 10px;
  /*background: #EDF4F3;*/
  background: #414194;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  overflow-y: auto;
  text-align: left;
  letter-spacing: 0.6px;
  /*color: #6C6C83;*/
  color: white;
  font-size: 0.9em;
  line-height: 1.6em;

}

.tip.active .tip-blurb {
  height: 200px;
  padding: 10px;
}

.cogsci-faculty {
  background-color: #2D2D72;
  padding-top: 2%;
  padding-bottom: 2%;
  /* TRY ADDING PADDING-BOTTOM ON DIV ABOVE TOO */
  margin-top: 4%;
}

.faculty-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

.faculty-map {
  height: 100%;
  width: 40%;
}

.navigating-map {
  height: 100%;
  width: 40%;
}

.credit-map {
  height: 100%;
  width: 40%;
}

.department-links {
  height: 100%;
  width: 40%;
}

.honors-thesis {
  background-color: #ACACE6;
  padding-top: 2%;
  padding-bottom: 2%;
  /* TRY ADDING PADDING-BOTTOM ON DIV ABOVE TOO */

}

.honors-row1 {
   display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

.honors-thesis-blurb {
  height: 100%;
  width: 40%;
}

.honors-thesis-tips {
  height: 100%;
  width: 40%;
}

.honors-thesis-tipslist {
  color: #6C6C83;
  line-height: 2em;
  text-align: left;


}

.honors-row2 {
  padding-top: 4%;
  padding-bottom: 8%;
}


/* HONORSARCHIVE.HTML */

.link-back-events {
  text-align: left;
  padding-top: 1%;
}

.link-back-events-l {
  margin-left: 5%;
}

.thesis-row {
  margin-bottom: 3%;
}

.thesis-row p{
  font-size: 1.1em;
}

.thesis-info {
  text-align: left;
  padding-left: 8%;
  padding-right: 8%;
}

.thesis-info-txt {
  font-size: 0.86em;
  color: #BBBBDD;
}

/* CONFERENCE.HTML */

.placeholder {
  padding-bottom: 4%;
  margin-top: 2%;
}

.conference-banner {
  /*height: 60vh;*/
  height: 300px;
  /*width: 60%;*/
  width: 600px;
}

.conf-schedule {
  height: 600px;
}

.conf-info-txt {
  margin-right: 10%;
  margin-left: 10%;
}

.conf-links a:hover {
  text-decoration: underline;

}
#clink {
  cursor: pointer;
  font-size: 1.4em;
  color: white;
}
#clink2 {
  cursor: pointer;
  font-size: 1.4em;
  color: white;
}
#clink3 {
  cursor: pointer;
  font-size: 1.4em;
  color: white;
}

.cshowcome {
  margin-left: 10%;
  margin-right: 10%;
  transition: 1s ease;
}

#cshow2 {
  margin-left: 10%;
  margin-right: 10%;
}
#cshow3 {
  margin-left: 10%;
  margin-right: 10%;
}



/* PEOPLE.HTML */

.people-row1 {
 /* background-color: #FFF3F5; */
  padding-top: 4%;
  padding-bottom: 3%;
}
.people-row2 {
 /* background-color: #FBF6EB;*/
    padding-top: 4%;
  padding-bottom: 3%;
}
.people-row3 {
  /*background-color: #EDF4F3;*/
    padding-top: 4%;
  padding-bottom: 3%;
}
.people-row4 {
  /*background-color: #F3F9FF;*/
    padding-top: 4%;
  padding-bottom: 3%;
}

.people-row-column3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

.people-square3 {
  height: 100%;
  width: 30%;
}

.people-row-column4 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  box-sizing: border-box;
}

.people-square4 {
  height: 100%;
  width: 20%;
}

.ppl-img {
  height: 200px;
  width: auto;
}

#people-wrap {
  padding-bottom: 0px;
}

.people-title {
  font-weight: 900;
  font-size: 1.5em;
  color: #9FA8FF;
}

.people-name {
  font-weight: normal;
  color: #8484FF;
  
}



/* OTHER RANDOM STUFF */
.list-linebreak {

}

.diffback {
  background-color: #10104E;
}

#pplback {

}



/* ABOUT LINKS AT BOTTOM */
.what-is-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  margin-bottom: 4%;
}

.what-is-link {
  display: inline;
  margin-left: 24px;
  margin-right: 24px;
}


/*CONFERENCE LINKS AT TOP */

.conf-links {
  margin-bottom: 2%;
  margin-top: 2%;
}

.conf-link {
  color: #E6CCA5;
  display: inline;
  margin-left: 40px;
  margin-right: 40px;
}

/*HONORS THESIS ARCHIVE */















